@model Admin_Panel.Models.ContentModel

@{
    ViewBag.Title = "UpdateContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="content-wrapper">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-head-line">Update Post </h1>
                </div>
            </div>

            <div class="row" style="margin: 0 auto" ;>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm("UpdateContent","Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(q=>q.PostId)
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="Title" name="PostTitle" autocomplete="off" required />
                                    <hr />
                                    <label>Post</label>
                                    <textarea class="form-control" rows="10" placeholder="Post Text" name="PostText" autocomplete="off" required></textarea>
                                    <hr />
                                    <label>Author Id</label>
                                    <input type="text" class="form-control" placeholder="Author Id" name="AuthorId" autocomplete="off" required />
                                    <hr />
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" name="CategoryId" autocomplete="off" required>
                                            @foreach (var item in (List<Admin_Panel.Models.ContentModel>)ViewBag.Categories)
                                            {
                                                <option value="@item.CategoryId">@item.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label for="exampleInputFile">Upload Image</label>
                                        <input type="file" id="PostImage" name="PostImage" required/>
                                    </div>
                                    <hr />
                                    <input type="submit" value="Update" />
                               
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</center>

